@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #5f6fff;
  --grid-template-columns-auto: repeat(auto-fit, minmax(250px, 1fr));
}

*{
  font-family: outfit;
}

.active hr {
  @apply block;
}

::-webkit-scrollbar {
  @apply hidden;
}

@media (max-width:740px){
  .active p{
    @apply text-white bg-primary
  }
}
